{% extends 'base.html.twig' %}

{% block body %}
    <div class="container pt-3 text-center">
        <div class="row">
            <div class="col-12">
                <h3>ToDoList</h3>
            </div>

            <div class="col-6 row text-left">
                {% for todo in todoList %}
                    <div class="col-6">
                        {% if todo.status == 0 %}
                            <h3 class="text-danger">
                                {{todo.name}}
                                
                            </h3>
                        {% else %}
                            <h3 class="text-success">{{todo.name}}</h3>
                        {% endif %}
                    </div>
                    <div class="col-6">
                        {% if todo.status == 0 %}
                            <a class="btn btn-primary" href="/complete/{{todo.id}}"> Completar </a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            <div class="col-6 row ">
                <div class="col-12">
                    <h3>Añadir Tareas</h3>
                    <form method="POST" class="text-left">
                        <div class="form-group">
                            <label for="inputname">Nombre</label>
                            <input type="text" class="form-control" id="inputname" name="name" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Añadir</button>
                    </form>
                </div>
                
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
